@import '@/assets/styles/variables.scss';

.home {
  padding-top: 50px;
  background-color: $color-light-grey;
  background-image: url('~@/assets/images/runner.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 80%;

  .startButton {
    margin-top: 20px;
  }

  .footnote {
    display: block;
    margin-top: 15px;
  }
}

